---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

$header-colour: #2196f3;
$page-bg: #efefef;
$page-fg: #fdfdfd;
$title-size: 4em;
$title-colour: #111111;

main h1 {
    // border-bottom: $header-colour solid 2px;
    padding: 0.5em 0;
    color: $header-colour;
    font-weight: 600;
}

main>.wrapper {
  background: $page-fg;
}

.site-footer {
  border: none;
}

.participation-form {
  display: flex;
  justify-content: center;
}

.site-header {
  border: none;
}


.page-title {
    color: $title-colour;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $title-size;
    padding-bottom: 1em;
    border-bottom: $title-colour solid 3px;
}

.page-title>.title{
    font-size: $title-size;
}

.page-title>.nips-logo{
    height: $title-size;
}

.figure {
  text-align: center;
  margin: 2em 0em;
}

.figure>.tutorial-figure {
  padding: 1em 0em;
}

@media only screen and (min-width: 600px) {
  main {
    background: $page-bg;
  }

  .site-footer {
    background: $page-bg;
  }

  main>.wrapper {
    padding: 6em;
    border-radius: 0.7em;
  }
}